@import url(chatbot.css);
@import url('http://fonts.cdnfonts.com/css/minecraft-4');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background:#111;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: 16px;
    transition: .5s;
}

header {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

.logo h1 {
    font-family: 'Minecraft', sans-serif;
    font-size: 3rem;
    padding-bottom: 13px;
}

#menu {
    display: flex;
    gap: 10px;
}

#menu li {
    list-style: none;
}

#menu li a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    transition: .3s;
}

#menu li a:hover {
    background-color: #fff;
    color: #000;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-home {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.section-proyectos {
    display: flex;
    flex-flow: column;
    gap: 10px;
    align-items: center;
}

.section-proyectos h1 {
    text-align: center;
}

.proyectos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
    margin: 0 auto;
    justify-content: center;
}

.section-contacto {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 10px;
}

.section-contacto img {
    width: 300px;
}

#a-torneo-de-proyectos {
    height: 100px;
    background-color: #111;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-shadow: #fff 0px 1px 4px, #fff 0px 0px 0px 3px;
    transition: .5s;
}

#a-torneo-de-proyectos:hover {
    transform: rotate3d(1, 1, 1, 10deg);
}

.proyecto {
    height: 100px;
    width: 200px;
    background-color: #111;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
    box-shadow: #fff 0px 1px 4px, #fff 0px 0px 0px 3px;
    transition: .5s;
    overflow: hidden;
}

.proyecto:hover {
    transform: rotate3d(1, 1, 1, 10deg);
}

footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

footer a {
    color: royalblue;
    text-align: center;
}

footer span {
    text-align: center;
}

@media (max-width: 800px) {
    body {
        font-size: 12px;
    }
}