@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #111;
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    transition: .5s;
    background-image: url(../img/anime-underwater.gif);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-flow: column;
    background-repeat: no-repeat;
}

header {
    width: 100%;
    height: 100px;
    transition: 1s;
    background: rgba(17,17,17,0.50);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
}

a #brand {
    color: #fff;
    padding: 15px 40px; 
}

#brand {
    display: inline-block;
    height: 100%;
    transition: .5s;
}

#brand #title {
    font-size: 40px;
    transition: .5s;
}

#brand #sub-title {
    transition: 1ss;
    display: none;
    font-size: 15px;
}

#brand:hover #sub-title {
    transition: 1s;
    display: block;
}

#button {
    text-decoration: none;
    color: #fff;
    background-color: #CB5455;
    height: 100px;
    width: 200px;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

#button h1 {
    transition: .5s;
}

#button:hover h1 {
    transition: .5s;
    font-size: 35px;
}

#script:hover h1 {
    transition: .5s;
    font-size: 35px;
}

#button:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.25);
    width: 50px;
    height: 150%;
    transform: rotate(-25deg);
    left: -75px;
    top: -20px;
}

#button:hover:before {
    left: 130%;
    transition: 1s;
}

#button-menu {
    height: 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 40px;
    gap: 20px;
    background-color: #000;
    cursor: pointer;
    transition: .5s;
}

#button-menu:hover {
    background-color: #111;
    transition: .5s;
}

#input-menu {
    display: none;
}

#hamburger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#label-menu {
    width: 33px;
    height: 33px;
    position: relative;
    transition: 1s;
    overflow: hidden;
    cursor: pointer;
}

#label-menu span {
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    transform-origin: 0px 100%;
    transition: 1s;
    border-radius: 5px;
}

#label-menu span:nth-child(3) {
    top: 30px;
    transition: 0.3s;
}

#label-menu span:nth-child(2) {
    top: 15px;
    transition: 0.3s;
}

#label-menu span:nth-child(1) {
    top: 0px;
    transition: 0.3s;
}

#input-menu:checked ~ header nav #button-menu #hamburger-menu #label-menu span:nth-child(2) {
    margin-left: 50px;
    transition: 0.3s;
}

#input-menu:checked ~ header nav #button-menu  #hamburger-menu #label-menu span:nth-child(1) {
    transition: 0.3s;
    transform: rotate(45deg) translate(4px, 0px);
}

#input-menu:checked ~ header nav #button-menu  #hamburger-menu #label-menu span:nth-child(3) {
    transition: 0.3s;
    transform: rotate(-45deg) translate(6px, 1px);
}

#section-menu {
    position: fixed;
    top: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #111;
    transition: .5s;
    display: none;
    backdrop-filter: blur(4px);
    background: rgba(0,0,0,0.9);
}

#input-menu:checked ~ #section-menu {
    display: flex;
    transition: .5s;
}

#section-menu #container-menu {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

#container-menu a {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

#a-home {
    background-color: #333;
    color: #fff;
    display: flex;
}

#a-info {
    background-color: #666;
    color: #fff;
    display: flex;
}

#a-contact {
    background-color: #999;
    color: #000;
    display: flex;
}

#a-button {
    background-color: #CB5455;
    color: #fff;
    display: none;
    
}

#a-script {
    background-color: #EFD81D;
    color: #000;
    display: none;
}

a {
    color: royalblue;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#info {
    width: auto;
    background-color: #111;
    border-radius: 30px;
    padding: 15px;
}

#info span {
     text-align: center;
}

#script {
    text-decoration: none;
    color: #000;
    background-color: #EFD81D;
    height: 100px;
    width: 200px;
    padding: 15px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

@media (max-width: 1000px) {
    
    #button {
        display: none;
    }
    
    #script {
        display: none;
    }
    
    #container-menu a {
        min-width: 33%;
    }
    
    #a-button {
        display: flex;
    }
    
    #a-script {
        display: flex;
    }
}

@media (max-width: 700px) {
    
    #button-menu h1 {
        display: none;
    }
}

@media (max-width: 400px) {
    
    #container-menu {
        flex-flow: column;
    }
}