* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 750px;
    height: 1000px;
    background-color: black;
    color: white;
    font-family: sans-serif;
    margin: auto;
    position: relative;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.logo a {
    font-size: 40px;
    color: white;
}

nav {
    float: left;
}

nav ul {
    display: flex;
    
}

nav ul li {
    list-style: none;
}

nav ul li a {
    padding: 20px;
    color: white;
}

nav ul li a:hover {
    border-top: 1px solid;
    border-bottom: 1px solid;
    transition: 0.5s;
    cursor: pointer;
}

article {
    width: 80%;
    height: 500px;
    margin: 5%;
}

article h1, p, h4 {
    margin: 20px;
}

article h1 {
    font-size: 30px;
}

article p {
    font-size: 20px;
}

article h4 {
    font-size: 15px;
}

footer {
    width: 100%;
    height: 100px;
    bottom: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

footer:hover {
    border-top: 1px solid white;
    transition: 1s;
}